.spacing {
  height: 100vh;
  background-color: red;
}
.detail-description {
  padding: 120px 80px;
  background-image: url("../../images/use/bg-desc-room.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 991px) {
    padding: 64px 24px 40px;
  }
  &.restaurant {
    background-image: url("../../images/use/bg-desc-restaurant.png");
  }
  &.offer {
    .detail-description-box {
      text-align: left;
      .list-button {
        justify-content: flex-start;
        margin-top: 40px;
      }
    }
  }
  &-box {
    text-align: center;

    h2 {
      margin-bottom: 24px;
    }
    .list-item {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-bottom: 24px;
      li {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
    .description-lg,
    .detail-sm,
    .detail-time {
      margin-bottom: 40px;
      a {
        color: var(--color-secondary);
        &:hover {
          color: var(--color-secondary);
        }
        &::before {
          background-color: var(--color-secondary);
        }
      }
    }
    .list-button {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
  .description-multiline {
    p {
      color: var(--color-secondary);
      font-weight: 300;
    }
    ul {
      padding-left: 20px;
      margin-bottom: 40px;
      li {
        * {
          color: var(--color-secondary);
          font-weight: 300;
        }
      }
    }
  }
}
