.gallery-sec {
  &-container {
    .nav {
      margin-bottom: 60px;
      position: sticky;
      top: 72px;
      z-index: 2;

      background-color: #f4f1ec;
      &-link {
        padding: 8px 12px;
        &.active {
          background-color: transparent;
          .title {
            &::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  &-list {
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: 991px) {
      padding: 0 24px;
      grid-template-columns: 1fr;
    }
  }

  &-img {
    width: 100%;
    height: 260px;
    cursor: pointer;
    // aspect-ratio: 410 / 260;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// style lightgallery
.lg-img-wrap {
  padding: 7% 0 !important;
  @media (max-width: 991px) {
    padding: 10% 24px !important;
  }
}
.lg-backdrop {
  background-image: url("../../images/use/bg-desc-room.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.lg-sub-html {
  h4 {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 300;
  }
}
.lg-next,
.lg-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  background-image: url("../../images/use/ic-arrow-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
  transform: translateY(-50%);
  &:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    background-image: url("../../images/use/ic-arrow-brown.svg");
  }
  &::before {
    content: "";
  }
}
.lg-next {
  right: 180px;
}
.lg-prev {
  transform: translateY(-50%) scaleX(-1);
  left: 180px;
  &::after {
    content: "";
  }
}
.lg-toolbar {
  top: 100px;
  padding-right: 80px;
  .lg-close {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    background-image: url("../../images/use/ic-close-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s ease;
    right: 80px;
    &:hover {
      background-color: var(--color-white);
      background-image: url("../../images/use/ic-close-brown.svg");
    }
    &::after {
      content: "";
    }
  }
}
.lg-image {
  aspect-ratio: 16 / 9;
}
.lg-counter {
  display: none;
}
.lg-components {
  bottom: 13%;
}
// end syle lightgallery
