.gallery-sec {
  &-container {
    .nav {
      margin-bottom: 60px;

      background-color: #f4f1ec;
      &-link {
        padding: 8px 12px;
        &.active {
          background-color: transparent;
          .title {
            &::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  &-list {
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: 991px) {
      padding: 0 24px;
      grid-template-columns: 1fr 1fr;
      margin-top: 40px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &-img {
    width: 100%;
    height: 260px;
    cursor: pointer;
    // aspect-ratio: 410 / 260;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .filter-desktop {
    position: sticky;
    top: 72px;
    z-index: 2;
  }
  .fitler-mobile {
    position: sticky;
    top: 72px;
    z-index: 2;
    .filter-head {
      position: relative;
      background-color: var(--color-white);
      padding: 12px 0;
      &.active {
        .ic-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .ic-arrow {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.4s ease;
      }
      .filter-value-select {
        text-align: center;
      }
    }
    .filter-body {
      max-height: 0;
      transition: all 0.4s ease;

      background-color: var(--color-white);
      &.active {
        max-height: 500px;

        .nav {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
      .nav {
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.4s ease;
        will-change: clip-path;
        margin-bottom: 0;
        padding: 24px 0;
      }
    }
  }
}
// style lightgallery
.lg-img-wrap {
  padding: 7% 0 !important;
  @media (max-width: 991px) {
    padding: 10% 24px !important;
  }
}
.lg-backdrop {
  background-image: url("../../images/use/bg-desc-room.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.lg-content {
  top: 0 !important;
  bottom: 0 !important;
}
.lg-sub-html {
  h4 {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 300;
  }
}
.lg-next,
.lg-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  background-image: url("../../images/use/ic-arrow-brown.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s ease;
  transform: translateY(-50%);
  @media (max-width: 991px) {
    bottom: 20%;
    top: unset;
  }
  &:hover {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    background-image: url("../../images/use/ic-arrow-white.svg");
  }
  &::before {
    content: "";
  }
}
.lg-next {
  right: 80px;
  @media (max-width: 991px) {
    right: calc(50% - 40px);
    transform: translateX(50%) translateY(0%);
  }
}
.lg-prev {
  transform: translateY(-50%) scaleX(-1);
  left: 80px;
  @media (max-width: 991px) {
    left: calc(50% - 40px);
    transform: translateX(-50%) translateY(0%) scaleX(-1);
  }
  &::after {
    content: "";
  }
}
.lg-toolbar {
  top: 100px;
  padding-right: 80px;
  @media (max-width: 991px) {
    padding-right: 24px;
  }
  .lg-close {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    background-image: url("../../images/use/ic-close-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s ease;
    right: 80px;

    &:hover {
      border: 1px solid var(--color-primary);
      background-color: transparent;
      background-image: url("../../images/use/ic-close-gold.svg");
    }
    &::after {
      content: "";
    }
  }
}
.lg-image {
  max-width: 840px !important;
  max-height: 540px !important;
}
.lg-counter {
  display: none;
}
.lg-components {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 64px;
  @media (max-width: 991px) {
    padding-bottom: 40%;
  }
  @media (max-width: 767px) {
    padding-bottom: 62.5%;
  }
}

// end syle lightgallery
