body {
  background-color: #f4f1ec;
  font-family: var(--font-body);
}

main {
  position: relative;
  z-index: 2;
  background-color: #f4f1ec;
}

.spacing-80 {
  height: 80px;
}

.spacing-120 {
  height: 120px;
}

.section-title {
  .tag {
    text-align: center;
    margin-bottom: 26px;
    font-family: var(--font-body);
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    color: var(--color-secondary);
  }

  .title {
    font-size: 36px;
    line-height: 44px;
    color: var(--color-secondary);
    font-weight: 300;
    text-align: center;
    font-family: var(--font-heading);
    max-width: 45%;
    margin: 0 auto;
  }
}

.dropdown-custom {
  position: relative;
  cursor: default;

  &.has-hover {
    &:hover {
      .ic {
        path {
          fill: var(--color-white);
        }
      }
      .dropdown-custom__text {
        color: var(--color-white);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    gap: 12px;

    path {
      transition: all 0.3s ease;
    }

    &.--active {
      .ic {
        // transform: rotate(180deg);
      }
    }
  }

  .ic {
    transition: all 0.4s ease;
  }

  .dropdown-custom__text {
    transition: all 0.3s ease;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

  &__menu {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 11;
    left: 7px;
    width: 100%;
    min-width: 115px;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
    // box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);

    .dropdown-custom__item {
      width: 100%;
      padding: 5px 10px;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 8px;
      color: var(--color-white);
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;

      &:hover {
        // color: var(--color-secondary) !important;
      }
    }
  }
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}
