.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 167px;
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;

  @media (max-width: 991px) {
    height: 112px;
    // width: 100vw;
  }

  &.header--scroll {
    opacity: 0;
    visibility: hidden;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    @media (max-width: 991px) {
      padding: 20px;
    }
  }

  &-logo {
    width: 167px;
    aspect-ratio: 167 / 87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);

    @media (max-width: 991px) {
      width: 124px;
      top: 24px;
      transform: translate(-50%, 0);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    .dropdown-custom .dropdown-custom__text,
    .dropdown-custom__menu .dropdown-custom__item {
      text-transform: uppercase;
    }
  }
}
