.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
  pointer-events: none;
  @media (max-width: 991px) {
    height: 112px;
    // width: 100vw;
    pointer-events: auto;
  }

  &.header--scroll {
    .header-wrapper {
      transform: translateY(-167px);
      pointer-events: none;
    }

    .header-scroll {
      transform: translateY(-167px);
      pointer-events: auto;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 167px;
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    pointer-events: auto;
    @media (max-width: 991px) {
      padding: 20px;
      align-items: flex-start;
    }
  }

  &-logo {
    width: 167px;
    aspect-ratio: 167 / 87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 991px) {
      width: 124px;
      top: 24px;
      transform: translate(-50%, 0);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    .dropdown-custom .dropdown-custom__text,
    .dropdown-custom__menu .dropdown-custom__item {
      text-transform: uppercase;
    }
  }
  &-scroll {
    background-color: var(--color-secondary);
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.4s ease;
    transform: translateY(-240px);
    pointer-events: none;
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      height: 72px;
      @media (max-width: 991px) {
        padding: 0 24px;
        grid-template-columns: 1fr 3fr 1fr;
      }
      .col-empty {
        @media (max-width: 991px) {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .header-hamburger {
          width: 22px;
          height: 8px;
          .hamburger {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            &.active {
              span {
                &:nth-child(1) {
                  transform: rotate(45deg);
                  top: 4px;
                }
                &:nth-child(2) {
                  transform: rotate(-45deg);
                  bottom: 3px;
                }
              }
            }
            &::before {
              content: "";
              position: absolute;
              inset: -20px;
              background-color: transparent;
            }
            span {
              display: block;
              width: 100%;
              height: 1px;
              background-color: var(--color-white);
              transition: all 0.3s ease;
              position: absolute;
              transform: rotate(0deg);
              &:nth-child(1) {
                top: 0;
              }
              &:nth-child(2) {
                bottom: 0;
              }
            }
          }
        }
      }
      .col-main {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 40px 1fr;
        gap: 64px;
        @media (max-width: 991px) {
          grid-template-columns: 1fr;
        }

        .logo-scroll {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .col-menu {
        display: flex;
        align-items: center;

        &.left {
          display: flex;
          justify-content: flex-end;
          @media (max-width: 991px) {
            display: none;
          }
        }
        &.right {
          display: flex;
          justify-content: flex-start;
          @media (max-width: 991px) {
            display: none;
          }
        }

        ul {
          display: flex;
          align-items: center;
          gap: 24px;
          li {
            a {
              &:hover {
                color: var(--color-white);
              }
            }
          }
        }
      }
      .col-lang {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 991px) {
          justify-content: flex-end;
        }
        .dropdown-custom__menu {
          background-color: var(--color-primary);
          left: -10px;
          min-width: 40px;
          border-radius: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
          top: 40px;
          z-index: 5;
        }
        .language__item {
          display: inline-block;
          text-align: center;
          font-size: 12px;
          line-height: 20px;
          font-weight: bold;
        }
      }
    }
  }
  &-sub-menu {
    position: fixed;
    background-color: var(--color-secondary);
    left: 0;
    top: 71px;
    width: 100%;
    height: calc(100dvh - 71px);
    z-index: 1;
    clip-path: inset(0% 0% 100% 0%);
    transition: clip-path 0.4s ease;
    will-change: clip-path;
    &.active {
      clip-path: inset(0% 0% 0% 0%);
    }
    &-container {
      width: 100%;
      height: 100%;
      .sub-menu-container {
        width: 100%;
        height: 100%;
        .sub-menu {
          width: 100%;
          height: 100%;
          padding-top: 120px;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 24px;
            li {
              a {
                &:hover {
                  color: var(--color-white);
                }
              }
            }
          }
        }
      }
    }
  }
}
