.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
  pointer-events: none;
  @media (max-width: 991px) {
    height: 112px;
    // width: 100vw;
  }

  &.header--scroll {
    .header-wrapper {
      transform: translateY(-167px);
      pointer-events: none;
    }

    .header-scroll {
      transform: translateY(-167px);
      pointer-events: auto;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 167px;
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    pointer-events: auto;
    @media (max-width: 991px) {
      padding: 20px;
    }
  }

  &-logo {
    width: 167px;
    aspect-ratio: 167 / 87;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 991px) {
      width: 124px;
      top: 24px;
      transform: translate(-50%, 0);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    .dropdown-custom .dropdown-custom__text,
    .dropdown-custom__menu .dropdown-custom__item {
      text-transform: uppercase;
    }
  }
  &-scroll {
    background-color: var(--color-secondary);
    // opacity: 0;
    // visibility: hidden;
    transition: all 0.4s ease;
    transform: translateY(-240px);
    pointer-events: none;
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      height: 72px;
      .col-main {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 40px 1fr;
        gap: 64px;

        .logo-scroll {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .col-menu {
        display: flex;
        align-items: center;
        &.left {
          display: flex;
          justify-content: flex-end;
        }
        &.right {
          display: flex;
          justify-content: flex-start;
        }
        ul {
          display: flex;
          align-items: center;
          gap: 24px;
          li {
            a {
              &:hover {
                color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
