.news-list {
  padding: 0 80px;
  @media (max-width: 767px) {
    padding: 0 24px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 40px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      gap: 64px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .news {
    &-img {
      margin-bottom: 28px;
      width: 100%;
      aspect-ratio: 400 / 260;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-item {
      &:hover {
        .underline-first {
          &::before {
            transform: scaleX(0);
            transform-origin: bottom right;
          }
        }
      }
    }
    &-content {
      @media (max-width: 767px) {
        text-align: center;
      }
      h3 {
        margin-bottom: 28px;
      }
    }
  }
}
