.section-contact {
  padding: 192px 0 120px;
  background-image: var(--bg-contact);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 230px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .contact-wrapper {
    max-width: 410px;
    margin: 0 auto;
    @media (max-width: 767px) {
      max-width: 100%;
      width: calc(100% - 48px);
    }
  }

  .title {
    margin-bottom: 40px;
    text-align: center;
  }

  .form {
    padding: 48px;
    background-color: var(--color-white);
    @media (max-width: 991px) {
      padding: 24px;
    }
    .field {
      &:not(:first-child) {
        margin-top: 24px;
      }

      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(#543929, $alpha: 0.4);
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
        padding-bottom: 16px;

        &::placeholder {
          color: rgba(#543929, $alpha: 0.4);
        }
      }

      textarea {
        min-height: 64px;
      }
    }

    button {
      width: 100%;
      margin-top: 40px;
      min-height: 44px;
    }
  }

  .noti-success {
    margin-top: 16px;
  }
}
