.section-discover {
  // background-color: #f4f1ec;
  overflow: hidden;

  .discover-wrapper {
    padding: 80px 84px;

    @media (max-width: 991px) {
      padding: 88px 40px 0;
    }

    @media (max-width: 767px) {
      padding: 88px 16px 0;
    }

    .list-item {
      @media (max-width: 991px) {
        padding-bottom: 62px;
      }
    }

    .item {
      &-text {
        margin-top: 24px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
        font-weight: 300;
        text-align: center;
        font-family: var(--font-body);
      }

      &-image {
        width: 100%;
        aspect-ratio: 613 / 410;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          scale: 1.35 !important;
          object-fit: cover;
        }
      }
    }
  }

  .swiper-discover {
    margin-top: 64px;

    @media (max-width: 991px) {
      margin-top: 40px;
    }
  }

  .swiper-button-next {
    right: 24px;
  }

  .swiper-button-prev {
    left: 24px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: calc(50% - 23px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

    @media (max-width: 991px) {
      width: 44px;
      height: 44px;
      top: unset;
      bottom: 0;
      position: unset;
      border: 1px solid var(--color-secondary);
      transform: none;
    }

    &:hover {
      background-color: var(--color-white);

      @media (max-width: 991px) {
        background-color: transparent;
      }

      path {
        stroke: var(--color-secondary);
      }
    }

    svg {
      width: 12px;
      height: 12px;

      path {
        transition: all 0.4s ease;

        @media (max-width: 991px) {
          stroke: var(--color-secondary);
        }
      }
    }

    &::after {
      display: none;
    }
  }

  .discover-arrow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
