.section-services {
  .services_wrapper {
    padding: 0 80px;

    @media (max-width: 991px) {
      padding: 0 40px 34px;
    }

    @media (max-width: 767px) {
      padding: 0 16px 34px;
    }

    .btn-book {
      display: block;
      width: max-content;
      margin: 48px auto 0;
    }
  }

  .list-item {
    margin-top: 64px;
    padding-bottom: 100px;

    @media (max-width: 991px) {
      margin-top: 40px;
      row-gap: 140px;
    }

    .item-image {
      width: 100%;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .item-wrapper {
      position: relative;
    }

    .item-text {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      padding: 24px 35px;
      text-align: center;
      background-color: var(--color-white);
      width: calc(100% - 48px);

      display: flex;
      flex-direction: column;
      min-height: 170px;
      border-bottom: 3px solid var(--color-secondary);

      @media (max-width: 991px) {
        padding: 24px;
      }

      .tag {
        font-family: var(--font-body);
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 900;
        color: var(--color-secondary);
      }

      .title {
        font-family: var(--font-heading);
        font-size: 24px;
        line-height: 28px;
        font-weight: 300;
        color: var(--color-secondary);
        margin: 0 auto 24px;
      }

      .price {
        margin-top: auto;
        font-family: var(--font-heading);
        font-size: 20px;
        line-height: 26px;
        color: var(--color-secondary);
      }
    }
  }
}
