.section-desc {
  padding: 0 80px;

  @media (max-width: 676px) {
    padding: 0 16px;
  }

  .title {
    font-size: 64px;
    line-height: 64px;
    color: var(--color-secondary);
    font-weight: 300;
    text-align: center;
    font-family: var(--font-heading);
    margin-bottom: 64px;

    @media (max-width: 991px) {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 32px;
    }
  }

  .desc {
    font-size: 28px;
    line-height: 40px;
    color: var(--color-secondary);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-family: var(--font-heading);
    max-width: 90%;
    margin: 0 auto;

    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 32px;
      max-width: 100%;
    }
  }
}
