.two-col-content {
  padding: 140px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  @media (max-width: 991px) {
    padding: 64px 24px;
    grid-template-columns: 1fr;
    gap: 64px 0;
  }
  .col-content {
    p {
      color: var(--color-secondary);
    }
    h3 {
      margin-bottom: 40px;
    }
    ul {
      padding-left: 20px;
      li {
        p {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -10px;
            width: 2px;
            height: 2px;
            background-color: var(--color-secondary);
          }
        }
      }
    }
  }
}
