:root {
  --font-heading: "SVN-Super Display";
  --font-body: "SVN-Mabry Pro";
  --font-third: "1FTV Photograph Signature", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #c1823e;
  --color-secondary: #543929;
}

// color
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}

// font
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.h0-font {
  font-size: 64px;
  line-height: 72px;
}
.h4-font {
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}
.h5-font {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}
.b2-font {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.b1-font {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.b2-font-md {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}
