:root {
  --font-heading: "SVN-Super Display";
  --font-body: "SVN-Mabry Pro";
  --font-third: "1FTV Photograph Signature", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #c1823e;
  --color-secondary: #543929;
}

// color
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}

// font
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.h1-font {
  font-size: 64px;
  line-height: 64px;
}
.h2-font {
  font-size: 48px;
  line-height: 54px;
}
.h3-font {
  font-size: 36px;
  line-height: 44px;
}
.h4-font {
  font-size: 28px;
  line-height: 40px;
}
.h5-font {
  font-size: 24px;
  line-height: 32px;
}
.b2-font {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.b2s-font {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.h6-font {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--font-heading);
}
.b1-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.b3-font {
  font-size: 12px;
  line-height: 20px;
}
.font-light {
  font-weight: 300;
}
.font-italic {
  font-style: italic;
}
